<p>profile works!</p>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Profile Page</h1>
    <form>
        Username:
        <input type="text" name="username" [(ngModel)]="username"><br><br>
        Birthday:
        <input type="text" name="birthday" [(ngModel)]="birthday"><br><br>
        Age:
        <input type="text" name="age" [(ngModel)]="age">
        <br><br>
        <button (click) = Update()>Submit</button>
    </form>
    <p>If you clict Submit button, the form data will be sent to sessionStorage</p>
</body>
</html>